body {
    font-family: Arial, sans-serif;
    background-image: url('/src/assets/midpoint background (Desktop Wallpaper).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    /* text-align: center;
    margin-bottom: 0.01rem;
    margin-top: 0.01rem; */

    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #7C50A5;
}

.header h1 {
    font-size: 72px;
    margin: 0;
    position: relative;
    z-index: 1;
}


.header p {
    font-size: 14px;
    margin: 0;
    position: relative;
    top: -17px;
    left: -41px;
    z-index: 0;
    font-weight: bold;
}

.header p span {
    display: inline-block;
    margin-left: 14px; /* Adjust spacing between subtext parts */
}


.header img {
    width: 500px;
    height: auto;
}

#container {
    display: flex;
    width: 90vw;
    max-width: 1200px;
    height: 80vh;
    padding: 1rem;
    box-sizing: border-box;
    gap: 1rem;
    border-radius: 10px;
    background-color: #f3e6f9;
    box-shadow: 0 4px 8px rgba(133, 23, 137, 0.383);
}

#map {
    flex: 3;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #f3e6f9;
    box-shadow: 0 4px 8px rgba(133, 23, 137, 0.383);
    border: 2px solid #f3e6f9;
}

#sidebar {
    flex: 1;
    padding: 1.5rem;
    background-color: #f3e6f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(133, 23, 137, 0.383);
    border: 2px solid #f3e6f9;
    max-height: 100%;
    overflow-y: auto;
    position: relative;
    /* Ensure that children are positioned relative to the sidebar */
}

#results-display-container {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align items at the start of the container */
    padding: 1rem;
    overflow-y: auto;
    /* Allow scrolling if content exceeds the container */
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
input[type="time"],
input[type="date"],
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #f3e6f9;
    border-radius: 5px;
    margin-bottom: 1rem;
}

button {
    background-color: #007bff;
    color: #f3e6f9;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, opacity 0.3s;
}

.marker-content {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #f3e6f9;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.6;
}

pre {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    overflow-x: auto;
}